<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto App</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="wrapper">
        <div class="site-header">
          <h1 class="site-title">Resto App</h1>
          <button class="hamb" id="menu-toggle">
            <span class="hamb-line"></span>
          </button>
        </div>
        <nav>
          <ul id="menu" class="menu">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">Favorite</a>
            </li>
            <li>
              <a href="https://gungsatya.github.io">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section id="hero">
        <div class="hero-container">
          <h1>Resto App</h1>
          <p>We always serve you better.</p>
        </div>
      </section>
      <section id="restaurants">
        <div class="container">
          <h2 class="title">Explore Our Restaurants</h2>
          <p class="subtitle">We are spread all over Indonesia</p>
          <input type="text" placeholder="Search and [ENTER]" id="search">
          <div class="card-deck" id="maincontent" tabindex="-1"></div>
        </div>
      </section>
    </main>
    <footer class="site-footer">
      <p>Copyright IGBN.Satya Wibawa</p>
    </footer>
  </body>
</html>